
<main>
    <form class="product-form" action="/admin/add" method="POST">
        <div class="form-control">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="form-control">
            <label for="parentage">Parentage</label>
            <input type="text" id="parentage" name="parentage">
        </div>
        <div class="form-control">
            <label for="roll_no">Roo No</label>
            <input type="text" id="roll_no" name="roll_no">
        </div>
        <button type="submit">Add Product</button>
    </form>
</main>
